@font-face {
	font-family: "stubbee";
	src: url("stubbee.otf") format("opentype");
}

body {
	font-family: "stubbee";
    background-color: #a8c4c3
}

pre {
    font-family: "stubbee";
    font-size: 10px;
    color: #8f5a62;
}

.raindrop1 {
  position: relative;
  animation: raindrop1 3s infinite;
  color: #3387a9
}

@keyframes raindrop1 {
    from {top: 0px;}
    to {top: 680px;}
}

.cloud1 {
    position: relative;
    animation: cloud1 80s infinite;
}

@keyframes cloud1 {
    from {left: 0px;}
    to {left: 1000px;}
}

.cloud2 {
    position: relative;
    animation: cloud2 80s infinite;
}

@keyframes cloud2 {
    from {right: 0px;}
    to {right:1000px;}
}

.plane {
    position: relative;
    animation: plane 20s infinite;
}

@keyframes plane {
    from {right: 0px;}
    to {right:770px;}
}

.sun {
  position: relative;
  animation: sun 10s infinite;
}

@keyframes sun {
    from {top: 100px;}
    to {top: 0px;}
}

.moving {
    position: relative;
    animation: moving 10s infinite;
}

@keyframes moving {
    from {right: 0px;}
    to {right: -100px;}
}